body {
  font-family: 'Lora', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #00adb5;
  font-family: 'Sofia', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  /*  margin-top: 0;*/
}

h2 {
  color: #00adb5;
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  padding-bottom: 5px;
}

h3 {
  color: #3f72af;
  font-family: 'Lobster', cursive;
  font-size: 1.5rem;
}

p {
  line-height: 2;
}

#barva {
  background-color: #eeeeee;
  z-index: -2;
}

header {
  padding-top: 15em;
  position: relative;
  z-index: auto;
}

section {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
  height: auto;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  width: 20%;
  border-top-width: 1.25em;
  margin: 100px auto;
}

article {
  margin-bottom: 12.5em;
  font-size: 1.3rem;
}

.mail {
  background: #00ADB5;
  background-image: -webkit-linear-gradient(top, #00ADB5, #3FC1C9);
  background-image: -moz-linear-gradient(top, #00ADB5, #3FC1C9);
  background-image: -ms-linear-gradient(top, #00ADB5, #3FC1C9);
  background-image: -o-linear-gradient(top, #00ADB5, #3FC1C9);
  background-image: -webkit-gradient(to bottom, #00ADB5, #3FC1C9);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Sofia', cursive;
  font-size: 25px;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 25px;
}

.mail:hover {
  background: #3FC1C9;
  background-image: -webkit-linear-gradient(top, #3FC1C9, #00ADB5);
  background-image: -moz-linear-gradient(top, #3FC1C9, #00ADB5);
  background-image: -ms-linear-gradient(top, #3FC1C9, #00ADB5);
  background-image: -o-linear-gradient(top, #3FC1C9, #00ADB5);
  background-image: -webkit-gradient(to bottom, #3FC1C9, #00ADB5);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

/*.hora {}*/
.PN {
  font-weight: normal;
}

nav {
  margin: 100px 0 50px 0;
}

.obr1 {
  float: left;
  height: auto;
  margin-right: 1.875em;
  width: 35%;
}

.obr2 {
  float: right;
  height: auto;
  margin-left: 1.875em;
  width: 35%;
}

footer {
  background-color: #00ADB5;
  text-align: center;
  margin-top: 2.5em;
  padding: 50px 0 5px;
}

a {
  color: #112d4e;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: gold;
}

.slunce {
  position: absolute;
  top: 2em;
  left: 39.5em;
  width: 20em;
  height: auto;
  z-index: -1;
}

.zac {
  width: 30%;
  margin: auto;
}

.zprava {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: white;
  font-size: 0.75em;
  padding: 20px 0;
}
